<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@Page.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" media="all" href="~/Content/css/style.css">
    <script src="~/Content/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <link href="~/Content/css/Product.css" rel="stylesheet" />
    <link href="~/Content/css/ProductDetails.css" rel="stylesheet" />
    <script src="~/Content/js/Product/ProductDetails.js"></script>
    @RenderSection("head", required: false)
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <header id="header">
        <div class="container">
            <a href="~/Home/index" id="logo" title="Diana’s jewelry">Diana’s jewelry</a>
            <div class="right-links">
                <ul>
                    <li><a href="cart.html"><span class="ico-products"></span>3 products, $4 500.00</a></li>
                    <li><a href="cart.html"></li>
                    @{ if (Session["user"] == null)
                        {
                            <li>
                                @Html.ActionLink("Login", "Login", "User")
                            </li>
                            <li>
                                @Html.ActionLink("Register", "Register", "User")
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink("Account", "Details", "User")
                            </li>
                            <li>@Html.ActionLink("Log out", "Login", "User")</li>
                        }
                    }   
                </ul>
            </div>
        </div>
        <!-- / container -->
    </header>
    <!-- / header -->
    <nav id="menu">
        <div class="container">
            <div class="trigger"></div>
            <ul>
                <li><a href="products.html">New collection</a></li>
                <li><a href="products.html">necklaces</a></li>
                <li><a href="products.html">earrings</a></li>
                <li><a href="products.html">Rings</a></li>
                <li><a href="products.html">Gift cards</a></li>
                <li><a href="products.html">Promotions</a></li>
            </ul>
        </div>
        <!-- / container -->
    </nav>
    <!-- / navigation -->
    
    @RenderBody()
    <footer id="footer">
        <div class="container">
            <div class="cols">
                <div class="col">
                    <h3>Frequently Asked Questions</h3>
                    <ul>
                        <li><a href="#">Fusce eget dolor adipiscing </a></li>
                        <li><a href="#">Posuere nisl eu venenatis gravida</a></li>
                        <li><a href="#">Morbi dictum ligula mattis</a></li>
                        <li><a href="#">Etiam diam vel dolor luctus dapibus</a></li>
                        <li><a href="#">Vestibulum ultrices magna </a></li>
                    </ul>
                </div>
                <div class="col media">
                    <h3>Social media</h3>
                    <ul class="social">
                        <li><a href="#"><span class="ico ico-fb"></span>Facebook</a></li>
                        <li><a href="#"><span class="ico ico-tw"></span>Twitter</a></li>
                        <li><a href="#"><span class="ico ico-gp"></span>Google+</a></li>
                        <li><a href="#"><span class="ico ico-pi"></span>Pinterest</a></li>
                    </ul>
                </div>
                <div class="col contact">
                    <h3>Contact us</h3>
                    <p>Diana’s Jewelry INC.<br>54233 Avenue Street<br>New York</p>
                    <p><span class="ico ico-em"></span><a href="#">contact@dianasjewelry.com</a></p>
                    <p><span class="ico ico-ph"></span>(590) 423 446 924</p>
                </div>
                <div class="col newsletter">
                    <h3>Join our newsletter</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium.</p>
                    <form action="#">
                        <input type="text" placeholder="Your email address...">
                        <button type="submit"></button>
                    </form>
                </div>
            </div>
            <p class="copy">Copyright 2013 Jewelry. All rights reserved.</p>
        </div>
        <!-- / container -->
    </footer>
    <!-- / footer -->

  
   

</body>
</html>
