@model IEnumerable<ShoppingJewellery.Models.Feedback>

@{
    ViewBag.Title = "DetailsFb";
    Layout = "~/Views/Layout/MyLayout.cshtml";
}

<h2>DetailsFb</h2>

<p>
    @Html.ActionLink("Send FeedBack", "SendFb","User")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReComment)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReComment)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new {  id=item.FId,@OnClick="return confirm('Do you want delete this feedback ?')" })
        </td>
    </tr>
}

</table>
