@model ShoppingJewellery.Models.GoldView

@{
<tr>
    <td id="namemetal">@Html.DisplayFor(item => item.Gold_Crt)</td>
    <td>@Html.DisplayFor(item => item.Total_weight) gms</td>
    <td>₹ <span id="RateMetal">@Html.DisplayFor(item => item.Gold_Rate)</span>/gms </td>
    <td>₹ <span id="PriceMetal">@Html.DisplayFor(item => item.Total_Amount)</span></td>
    <input type="hidden" value="@Html.DisplayFor(item=>item.Total_Amount)" id="GoldAmt" />
    <input type="hidden" value="@Html.DisplayFor(item=>item.No)" id="GoldNo" />
</tr>
}
