
@model ShoppingJewellery.Models.ViewModel

@{

    ViewBag.Title = "Product";
    Layout = "~/Views/Layout/Product/LayoutListProduct.cshtml";
    Page.title = "Product Details";

}


<div id="breadcrumbs">
    <div class="container">
        <ul style="margin:0px">
            <li><a href="#">Home</a></li>
            <li>Product results</li>
        </ul>
    </div>
    <!-- / container -->
</div>
<div id="body">
    <div class="container">
        <div class="row">
            <div class="col-5">
                @{
                    <div class="slider slider-for" style="margin-top:0px;padding:0;">
                        <div><img class="col-12" src="~/Content/images/Product_Image/@Html.DisplayFor(item => item.ViewFullItems.Prod_Type)/Img/@Html.DisplayFor(item => item.ViewFullItems.Img)" /></div>
                        @foreach (var itemm in Model.Images)
                        {
                            <div><img class="col-12" src="~/Content/images/Product_Image/@Html.DisplayFor(item => item.ViewFullItems.Prod_Type)/Image/@itemm.image1" /></div>
                        }
                    </div>
                }
                @{
                    <div class="slider slider-nav">
                        <div><img src="~/Content/images/Product_Image/@Html.DisplayFor(item => item.ViewFullItems.Prod_Type)/Img/@Html.DisplayFor(item => item.ViewFullItems.Img)" /></div>
                        @foreach (var itemm in Model.Images)
                        {
                            <div><img src="~/Content/images/Product_Image/@Html.DisplayFor(item => item.ViewFullItems.Prod_Type)/Image/@itemm.image1" /></div>
                        }
                    </div>
                }
            </div>
            <div class="col-7">
                
                    <h4 class="col-12">@Html.DisplayFor(item => item.ViewFullItems.Style_Code)</h4>
                    <p class="col-12">Rs. <span  id="Price">@Html.DisplayFor(item => item.ViewFullItems.total_brand)</span> ₹</p>
                    <input type="hidden" id="totalBrand" value="@Html.DisplayFor(item => item.ViewFullItems.total_brand)" />
                    <input type="hidden" id="StyleCode" value="@Html.DisplayFor(item => item.ViewFullItems.Style_Code)" />
                
                <hr />
                <p class="col-12">Choose Your Jewellery Preference:</p>
                <div class="btn-group col-12" role="group" aria-label="Basic example">
                    @{
                        string disableSize = null;
                        string Protypee = Html.DisplayFor(item => item.ViewFullItems.Prod_Type).ToString();
                        if (!Protypee.Equals("RINGS"))
                        {
                            disableSize = "disabled";
                        }
                    }
                    <button type="button" class="btn btn-outline-secondary col-3" @disableSize id="SelectSize">Select Size</button>
                    <button type="button" class="btn btn-outline-secondary col-3" id="SelectMetal">Metal</button>
                    @{
                        string disablebutton = null;
                        string diamond = Html.DisplayFor(item => item.ViewFullItems.DimQlty_ID).ToString();
                        if (string.IsNullOrEmpty(diamond))
                        {
                            disablebutton = "disabled";
                        }
                    }

                    <button type="button" class="btn btn-outline-secondary col-3" @disablebutton id="SelectDiamond"> Diamond</button>

                    @{
                        string disableStone = null;
                        string stone = Html.DisplayFor(item => item.ViewFullItems.StoneQlty_ID).ToString();
                        if (string.IsNullOrEmpty(stone))
                        {
                            disableStone = "disabled";
                        }
                    }

                    <button type="button" class="btn btn-outline-secondary col-3" @disableStone id="SelectStone"> Gemstone</button>
                </div>
                <div id="SizeSelect" style="margin-top:20px;" class="row">
                    <div class="col-1"></div>
                    <select id="SelectSizeRing" class="form-control col-3" onchange="GetSize()">
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="@Html.DisplayFor(item => item.ViewFullItems.size)" selected="selected">@Html.DisplayFor(item => item.ViewFullItems.size) (Default)</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                    <a href="#" class="col-3" style="height:38px;line-height:30px;text-decoration:none">My Ring Size?</a>
                </div>

                <div id="MetalSelect" class="col-12 slider-for-metal" style="margin-top:20px;display:none ;">
                    @{
                        string checkradio = "checked";
                    }
                    @foreach (var item in Model.GoldProduct)
                    {
                        string type = item.GoldType_ID.ToString().Substring(0, 1);
                        if (type.Equals("W"))
                        {
                            <div class="col-12">
                                <img class="col-12 test" alt="White Gold" src="/Content/images/Icon/White_Gold_18k.png" />
                                <p class="col-12" style="text-align:center;margin:0px;padding:0px;">@item.Gold_Crt</p>
                                <input class="col-12" type="radio" @checkradio name="metal" onchange="PassValueMetal()" value="@item.No" />
                            </div>
                        }
                        if (type.Equals("Y"))
                        {
                            <div class="col-12">
                                <img class="col-12" alt="Yellow Gold" src="/Content/images/Icon/Yellow_Gold_18K.png" />
                                <p class="col-12" style="text-align:center;margin:0px;padding:0px;">@item.Gold_Crt</p>
                                <input class="col-12" type="radio" @checkradio name="metal" onchange="PassValueMetal()" value="@item.No" />
                            </div>
                        }
                        if (type.Equals("R"))
                        {
                            <div class="col-12">
                                <img class="col-12" alt="Rose Gold" src="/Content/images/Icon/Rose_Gold_18K.png" />
                                <p class="col-12" style="text-align:center;margin:0px;padding:0px;">@item.Gold_Crt</p>
                                <input class="col-12" type="radio" @checkradio name="metal" onchange="PassValueMetal()" value="@item.No" />
                            </div>
                        }
                        checkradio = " ";
                    }
                </div>
                <div id="DiamondSelect" class="col-12 row" style="margin-top:20px;display:none;">
                    <div class="col-11 slider-for-metal">
                        @{
                            string checkradioDiamond = "checked";
                        }
                        @foreach (var item in Model.DiamonProduct)
                        {
                            <div class="col-12">
                                <img style="width:100%;" src="/Content/images/Icon/diamond.png" alt="Diamond" />
                                <p class="col-12" style="text-align:center;margin:0px;padding:0px;">@item.MainType</p>
                                <input class="col-12" name="diamond" type="radio" @checkradioDiamond onchange="PassValueDiamond()" value="@item.No" />
                            </div>
                            checkradioDiamond = " ";
                        }
                    </div>
                    <a style="text-decoration:none" class="col-1" href="#">Diamond guide</a>
                </div>
                <div class="col-12 slider-for-metal" id="StoneSelect" style="margin-top:20px;display:none;">
                    @{
                        string checkradioStone = "checked";
                    }
                    @foreach (var item in Model.StoneProduct)
                    {
                        <div class="col-12">
                            <img class="col-12" src="/Content/images/Icon/gemstone.png" alt="Diamond" />
                            <p class="col-12" style="text-align:center;margin:0px;padding:0px;">@item.StoneQlty</p>
                            <input class="col-12" name="stone" type="radio" onchange="PassValueStone()" @checkradioStone value="@item.No" />
                        </div>
                        checkradioStone = default(string);
                    }
                </div>
                <hr />
                <div class="col-12">
                    <button class="col-4 btn btn-primary" style="margin-right:20px" id="addtocart"><strong>Add To Cart</strong></button>
                    <button class="col-4 btn btn-success"><strong>Buy Now</strong><button>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-4" style="background-color:#d7d7d7; border-radius: 25px; margin-right:10px;; margin-left:-10px">Hien</div>
            <div class="col-8" style="background-color:#d7d7d7; border-radius: 25px;">
                <br />
                <h3 class="col-12">Product Details</h3>
                <table class="col-12 table">
                    <tbody>
                        <tr>
                            <td>Name Produce</td>
                            <td>@Html.DisplayFor(item => item.ViewFullItems.Style_Code)</td>
                        </tr>
                        <tr>
                            <td>Product Type</td>
                            <td>@Html.DisplayFor(item => item.ViewFullItems.Prod_Type)</td>
                        </tr>
                        <tr>
                            <td>Jewellery Type</td>
                            <td>@Html.DisplayFor(item => item.ViewFullItems.Jewellery_Type)</td>
                        </tr>
                        <tr>
                            <td>Brand</td>
                            <td>@Html.DisplayFor(item => item.ViewFullItems.Brand_Type)</td>
                        </tr>
                        <tr>
                            <td>Certification</td>
                            <td>@Html.DisplayFor(item => item.ViewFullItems.Certify_Type)</td>
                        </tr>

                        <tr>
                            <td>Net Gold</td>
                            <td>@Html.DisplayFor(item => item.ViewFullItems.Net_Gold) gms</td>
                        </tr>
                        <tr>
                            <td>Stone Weight (Include Diamond & Gemstone)</td>
                            <td>@Html.DisplayFor(item => item.ViewFullItems.Stone_Wt) gms</td>
                        </tr>
                        <tr>
                            <td>Total Weight</td>
                            <td>@Html.DisplayFor(item => item.ViewFullItems.Net_Gold) gms</td>
                        </tr>
                        <tr>
                            <td>Total Gross Weight</td>
                            <td>@Html.DisplayFor(item => item.ViewFullItems.Tot_Gross_Wt) gms</td>
                        </tr>
                        <tr>
                            @{
                                if (Protypee.Equals("RINGS"))
                                {
                                    disableSize = "disabled";
                                    <td>Size</td>
                                    <td><span id="SizeRing">@Html.DisplayFor(item => item.ViewFullItems.size)</span></td>
                                }
                            }
                        </tr>
                    </tbody>
                </table>
                <hr />
                <br />
                <h3 class="col-12">Metal Details</h3>
                <table class="table col-12">
                    <thead style="font-size:17px;">
                        <tr>
                            <th><strong>Metal</strong></th>
                            <th><strong>Total Weight (Includes waste)</strong></th>
                            <th><strong>Rate</strong></th>
                            <th><strong>Price</strong></th>
                        </tr>
                    </thead>
                    <tbody id="metalAjax">
                        <tr>
                            <td>@Html.DisplayFor(item => item.ViewFullItems.Gold_Crt)</td>
                            <td>@Html.DisplayFor(item => item.ViewFullItems.Total_weight) gms</td>
                            <td>₹ <span id="RateMetal">@Html.DisplayFor(item => item.ViewFullItems.Gold_Rate)</span>/gms </td>
                            <td>₹ <span id="PriceMetal">@Html.DisplayFor(item => item.ViewFullItems.Total_Amount)</span></td>
                            <input type="hidden" id="GoldAmt" value="@Html.DisplayFor(item=>item.ViewFullItems.Total_Amount)" />
                            <input type="hidden" id="GoldNo" value="@Html.DisplayFor(item=>item.ViewFullItems.No_Gold)" />
                        </tr>
                    </tbody>
                </table>
                <hr />
                <br />
                @{
                    string checkgold = Html.DisplayFor(item => item.ViewFullItems.No_Gold).ToString();
                    if (!string.IsNullOrEmpty(checkgold))
                    {
                        <h3 class="col-12">Diamond Details</h3>
                        <table class="col-12 table">
                            <thead>
                                <tr>
                                    <th><strong>Diamond</strong></th>
                                    <th><strong>Carat</strong></th>
                                    <th><strong>Weight</strong></th>
                                    <th><strong>Size</strong></th>
                                    <th><strong>Total Pcs</strong></th>
                                    <th><strong>Rate</strong></th>
                                    <th><strong>Price</strong></th>
                                </tr>
                            </thead>
                            <tbody id="diamonAjax">
                                <tr>
                                    <td>@Html.DisplayFor(item => item.ViewFullItems.MainType)</td>
                                    <td>@Html.DisplayFor(item => item.ViewFullItems.Dim_Crt) Crt</td>
                                    <td>@Html.DisplayFor(item => item.ViewFullItems.Dim_Gm) gms</td>
                                    <td>@Html.DisplayFor(item => item.ViewFullItems.Dim_Size) mm</td>
                                    <td>@Html.DisplayFor(item => item.ViewFullItems.Dim_Pcs)</td>
                                    <td>₹ <span id="RateDiamond">@Html.DisplayFor(item => item.ViewFullItems.Dim_Rate)</span></td>
                                    <td>₹ <span id="PriceDiamond">@Html.DisplayFor(item => item.ViewFullItems.Dim_Amt)</span></td>
                                    <input type="hidden" id="DiamondAmt" value="@Html.DisplayFor(item=>item.ViewFullItems.Dim_Amt)" />
                                    <input type="hidden" id="DiamondNo" value="@Html.DisplayFor(item=>item.ViewFullItems.No_Diamond)" />
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <br />
                    }
                    if (!@Html.DisplayFor(item => item.ViewFullItems.DimSubType_ID).ToString().Trim().ToLower().Equals("none"))
                    {

                        <h3 class="col-12">Sub Diamond Details</h3>
                    <table class="col-12 table">
                        <thead>
                            <tr>
                                <th><strong>Diamond</strong></th>
                                <th><strong>Carat</strong></th>
                                <th><strong>Weight</strong></th>
                                <th><strong>Size</strong></th>
                                <th><strong>Total Pcs</strong></th>
                                <th><strong>Rate</strong></th>
                                <th><strong>Price</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(item => item.ViewFullItems.SubTyle)</td>
                                <td>@Html.DisplayFor(item => item.ViewFullItems.Dim_CrtSub) Crt</td>
                                <td>@Html.DisplayFor(item => item.ViewFullItems.Dim_GmSub) gms</td>
                                <td>@Html.DisplayFor(item => item.ViewFullItems.Dim_SizeSub) mm</td>
                                <td>@Html.DisplayFor(item => item.ViewFullItems.Dim_PcsSub)</td>
                                <td>₹ <span id="RateSubDiamond">@Html.DisplayFor(item => item.ViewFullItems.Dim_RateSub)</span></td>
                                <td>₹ <span id="PriceSubDiamond">@Html.DisplayFor(item => item.ViewFullItems.Dim_AmtSub)</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <br />
                }
                }
                @{
                    string checkgems = Html.DisplayFor(item => item.ViewFullItems.No_Stone).ToString();
                    if (!string.IsNullOrEmpty(checkgems))
                    {
                        <h3 class="col-12">Gemstone Details </h3>
                        <table class="table col-12">
                            <thead>
                                <tr>
                                    <th><strong>Gemstone</strong></th>
                                    <th><strong>Carat</strong></th>
                                    <th><strong>Weight</strong></th>
                                    <th><strong>Total Pcs</strong></th>
                                    <th><strong>Rate</strong></th>
                                    <th><strong>Price</strong></th>
                                </tr>
                            </thead>
                            <tbody id="stoneAjax">
                                <tr>
                                    <td>@Html.DisplayFor(item => item.ViewFullItems.StoneQlty)</td>
                                    <td>@Html.DisplayFor(item => item.ViewFullItems.Stone_Crt) Crt</td>
                                    <td>@Html.DisplayFor(item => item.ViewFullItems.Stone_Gm) gms</td>
                                    <td>@Html.DisplayFor(item => item.ViewFullItems.Stone_Pcs)</td>
                                    <td >₹ <span id="RateGem">@Html.DisplayFor(item => item.ViewFullItems.Stone_Rate)</span></td>
                                    <td>₹ <span id="PriceGem">@Html.DisplayFor(item => item.ViewFullItems.Stone_Amt)</span></td>
                                    <input type="hidden" id="StoneAmt" value="@Html.DisplayFor(item=>item.ViewFullItems.Stone_Amt)" />
                                    <input type="hidden" id="StoneNo"  value="@Html.DisplayFor(item=>item.ViewFullItems.No_Stone)" />
                                </tr>
                            </tbody>
                        </table>
                    }
                }
                <br /><hr style="border-top:5px solid"/>
                      <div class="col-12 row">
                          <div class="col-6"></div>
                <h4 class="col-6"><strong>Grand Total:</strong> ₹ <span id="totalAll"></span></h4>
                      </div>
            </div>
        </div>
    </div>
</div>
    

              
<script type="text/javascript" src="~/Content/JQuery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Content/js/Product/slick.js"></script>
<script type="text/javascript">
    
   
    var Stylecodee = document.getElementById('StyleCode').value;
    var total_brand = parseFloat(document.getElementById("totalBrand").value);
    var GoldAmt = parseFloat(document.getElementById('GoldAmt').value);
    var NoGold = document.getElementById('GoldNo').value;

    document.getElementById('totalAll').innerHTML = total_brand.toFixed(2); 

    var checkgem, checkdiamond;
    if (checkgem = document.getElementById('StoneNo')) {
        var StoneAmt = parseFloat(document.getElementById('StoneAmt').value);
        var NoGem = document.getElementById('StoneNo').value;
    }
    if (checkdiamond = document.getElementById('DiamondNo')) {
        var DiamondAmt = parseFloat(document.getElementById('DiamondAmt').value);
        var NoDiamond = document.getElementById('DiamondNo').value;
    }
    

   
    function GetSize() {
        var size = document.getElementById("SelectSizeRing").value;
        document.getElementById("SizeRing").innerHTML = size;
    }
    function GetNo(Name) {
        var No;
        var MetalNo = document.getElementsByName(Name);
        for (var i = 0, length = MetalNo.length; i < length; i++) {
            if (MetalNo[i].checked) {
                No=MetalNo[i].value;
                break;
            }
        }
        return No;
    }

    function CalGold() {
        total_brand -= GoldAmt;
        NoGold = document.getElementById('GoldNo').value;
        GoldAmt = parseFloat(document.getElementById('GoldAmt').value);
        total_brand += GoldAmt;
        document.getElementById('Price').innerHTML = total_brand.toFixed(2);
        document.getElementById('totalAll').innerHTML = total_brand.toFixed(2);
    }
    function CalDiamond() {
        total_brand -= DiamondAmt;
        NoDiamond = document.getElementById('DiamondNo').value;
        DiamondAmt = parseFloat(document.getElementById('DiamondAmt').value);
        total_brand += DiamondAmt;
        document.getElementById('Price').innerHTML = total_brand.toFixed(2);
        document.getElementById('totalAll').innerHTML = total_brand.toFixed(2);
    }
    function CalStone() {
        NoGem = document.getElementById('StoneNo').value;
        total_brand -= StoneAmt;
        StoneAmt = parseFloat(document.getElementById('StoneAmt').value);
        total_brand += StoneAmt;
        document.getElementById('Price').innerHTML = total_brand.toFixed(2);
        document.getElementById('totalAll').innerHTML = total_brand.toFixed(2);
    }

    function AjaxtGetNo(No, style, address, local, meterial,add,add2) {
        var r = $.ajax({
            url: "/Product/" + address,
            data: { No: No, Style_code: style },
            type: "get",
            contentType: "application/json; charset=utf-8", //application/html;charset=utf-8
            dataType: "html",
            success: function (result) {
                $(local).html(result);
            }
        });
        r.done(function () {
            if (meterial == 'stone') { CalStone(); Currentcc(add,add2) }
            if (meterial == 'diamond') { CalDiamond(); Currentcc(add, add2) }
            if (meterial == 'gold') { CalGold(); Currentcc(add, add2) }
        });
        r.faile(function (xhr, status) {
            alert("Status: " + status);
        });
    } 
    
    function PassValueMetal() {
        var No = GetNo('metal');
        NoGold = GetNo('metal');
        //$.get("/Product/GetNoMetal", { No: NoM }, function (data) {
        //    $("#metalAjax").html(data);
        //});
        AjaxtGetNo(No, Stylecodee, 'GetNoMetal','#metalAjax','gold','#RateMetal','#PriceMetal');
    }
    function PassValueDiamond() {
        var No = GetNo('diamond');
        NoDiamond = GetNo('diamond');
        AjaxtGetNo(No, Stylecodee, 'GetNoDiamond', '#diamonAjax','diamond','#RateDiamond','#PriceDiamond');
    }
    function PassValueStone() {
        var No = GetNo('stone');
        NoGem = GetNo('stone');
        AjaxtGetNo(No, Stylecodee, 'GetNoStone', '#stoneAjax', 'stone', '#RateGem','#PriceGem');
    }


    function Currentcc(id) {
        var num = $(id).text();
        var commaNum = numberWithCommas(num);
        $(id).text(commaNum);
    };
    function Currentcc(add,add2) {
        var num = $(add).text();
        var commaNum = numberWithCommas(num);
        $(add).text(commaNum);
        var num2 = $(add2).text();
        var commaNum2 = numberWithCommas(num2);
        $(add2).text(commaNum2);
    };
    Currentcc("#Price");
    Currentcc('#totalAll');
    Currentcc('#RateSubDiamond', '#PriceSubDiamond');
    Currentcc('#RateMetal', '#PriceMetal');
    Currentcc('#RateDiamond', '#PriceDiamond');
    Currentcc('#RateGem', '#PriceGem');
    function numberWithCommas(number) {
        var parts = number.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
    Currentcc('#RateSubDiamond', '#PriceSubDiamond');
    Currentcc('#RateSubDiamond', '#PriceSubDiamond');
    }

    
   
    $(document).ready(function () {
        $("#Price").on('DOMNodeInserted', function () {
            if (event.type == 'DOMNodeInserted') {
                Currentcc("#Price");
            }
        });
        $("#totalAll").on('DOMNodeInserted', function () {
            if (event.type == 'DOMNodeInserted') {
                Currentcc("#totalAll");
            }
        });
        $('#addtocart').click(function () {
            alert('Style_Code:' + Stylecodee + '\n Gold No: ' + NoGold + '\n Diamond No:' + NoDiamond + '\n Gemstone No' + NoGem + '\n' + total_brand);
        });


        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            fade: true,
            asNavFor: '.slider-nav'
        });
        $('.slider-nav').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            focusOnSelect: true
        });
        $('.slider-for-metal').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            arrows: true, adaptiveHeight: true,
        });

        $("#SelectSize").click(function () {
            $('#MetalSelect').hide();
            $('#SizeSelect').show();
            $('#DiamondSelect').hide();
            $("#StoneSelect").hide();
        });
        $("#SelectMetal").click(function () {
            $('#MetalSelect').show()
            $('#SizeSelect').hide();
            $('#DiamondSelect').hide();
            $("#StoneSelect").hide();
            $('.slider-for-metal').slick('refresh');
        });
        $("#SelectDiamond").click(function () {
            $('#SizeSelect').hide();
            $("#MetalSelect").hide();
            $("#StoneSelect").hide();
            $('#DiamondSelect').show();
            $('.slider-for-metal').slick('refresh');
        });
        $("#SelectStone").click(function () {
            $('#StoneSelect').show();
            $('#SizeSelect').hide();
            $('#DiamondSelect').hide();
            $("#MetalSelect").hide();
            $('.slider-for-metal').slick('refresh');
        });

    });
</script>
