@model ShoppingJewellery.Models.AdminLoginMst

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Layout/Admin/AdminLayout.cshtml";
    Page.name = Session["username"];
}
<link href="~/Content/css/Admin/Boxx.css" rel="stylesheet" />
<script src="~/Content/bootstrap-4.0.0-dist/js/bootstrap.bundle.min.js"></script>
<style>
    .tooltip-inner {
        min-width: 20vw;
    }

    .field-icon {
        float: right;
        margin-top: -30px;
        margin-right: 10px;
        position: relative;
        z-index: 2;
        width: 20px;
    }
</style>

<div class="col-9 form-group m-auto">
    <div class="col-12 headerboxx"><h4><strong>Change Password</strong></h4></div>
    <div class="boxx col-12 p-2">
        <div class="col-12">
            <span class="field-validation-valid text-danger" id="result_all"></span>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        <input type="text" value="@Html.DisplayFor(model=>model.Username)" readonly class="form-control" name="Username" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="Username"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-12 " for="Passowrd">New Password</label>
                    <div class="col-md-12">
                        <input type="password" name="Password" id="Password" value="" class="form-control" required maxlength="50" minlength="8" data-toggle="tooltip"  title="" data-html="true"/>
                        <img src="~/Content/images/Icon/Admin/Hide_Password.png" class="field-icon show_hide" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="Password" id="result_password"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-12 " for="Passowrd">Confirm Password</label>
                    <div class="col-md-12">
                        <input type="password" value="" class="form-control" required maxlength="50" id="confirm_password" minlength="8" />
                        <img src="~/Content/images/Icon/Admin/Hide_Password.png" class="field-icon show_hide" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="Password" id="result_confim_password"></span>
                    </div>
                </div>

                @Html.HiddenFor(m => m.role, new { htmlAttributes = new { @disabled = "disabled" } })


                <div class="form-group col-12 d-flex">
                        <input type="submit" value="Change" class="btn btn-success ml-auto p-2 col-2" />
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    var rex_pasword = /^[_A-z0-9]*[_A-z0-9]*$/;

    var check_password = false;
    var check_cpassword = false;

    function validateInput(re, email) {
        return re.test(email);
    }
    function validate(inputt, resultt, re) {
        var $result = $("#" + resultt);
        var input = $("#" + inputt).val();
        var inputte = $("#" + inputt);
        var ancestor = $("#" + inputt).closest("div");
        var ancestor2 = $(ancestor).parent();
        var text = $(ancestor2).children("label").text();
        $result.text("");
        if (validateInput(re, input)) {
            inputte.css('border', '1px solid #ced4da');
            varr = true;
        } else {
            $result.text(text + " is not valid ");
            $result.css("color", "red");
            inputte.css('border', '1px solid red');
            varr = false
        }
        return varr;
    }

    $(document).ready(function () {
        $("#Password").on("focus", function () {
                $(this).tooltip("show");
        }).tooltip({
            placement: "top",
            trigger: "focus",
            title: "Not contain Space and Special characters. <br/>Minimum 8 characters and maximum is 50."
        });
      

        $(".show_hide").css("cursor", "pointer");

        $(".show_hide").click(function () {
            var ancestor = $(this).closest("div");
            if ($(this).attr("src") === "/Content/images/Icon/Admin/Show_Password.png") {
                $(this).attr("src", "/Content/images/Icon/Admin/Hide_Password.png");
                $(ancestor).children("input").attr("type", "password");
                check = true;
            } else {
                $(this).attr("src", "/Content/images/Icon/Admin/Show_Password.png");
                $(ancestor).children("input").attr("type", "text");
                check = false
            }
        });

        $("#Password").bind("change", function () {
            check_password = validate("Password", "result_password", rex_pasword);
        });
        $("#confirm_password").bind("change", function () {
            check_cpassword = validate("confirm_password", "result_confim_password", rex_pasword);
        });

        $('#myForm').submit(function (event) {
            var warning=" ";
            if (check_password == false) {
                event.preventDefault();
                warning += " Password Not Valid !!!\n";
            }
            if (check_cpassword == false) {
                event.preventDefault();
                warning += " Confirm Password Not Valid !!!\n";
            }
            if (check_cpassword == true && check_password == true) {
                if ($("#Password").val().toString() != $("#confirm_password").val().toString()) {
                    event.preventDefault();
                    warning += " Confirm Password Does Not Match !!!";
                }
            }
            var war = $("#result_all").text(warning);
            war.html(war.html().replace(/\n/g, '<br/>'));

        });
    });
</script>


