@model ShoppingJewellery.Models.AdminLoginMst

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_LayoutHomeAdmin.cshtml";
}
<h2>Hello, @Session["admin"] @Session["SuperAd"]</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-push-4 col-md-4">
                <div class="form-group">
                    <p>User Name :<p>
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control",@readonly="readonly" })
                </div>

            <div class="form-group">
                <p>Password :</p>
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password", @readonly = "readonly" })
            </div>

            <p>
                @Html.ActionLink("ChangePass", "ChangePass", "Admin", new { id = Model.Username })
            </p>
             </div>
        </div>
    </div>

