@model IEnumerable<ShoppingJewellery.Models.ProductView>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Layout/Admin/AdminLayout.cshtml";
}
<link href="~/Content/css/Admin/Boxx.css" rel="stylesheet" />
<link href="~/Content/css/Admin/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/Admin/select.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/Admin/rowGroup.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/Admin/buttons.dataTables.min.css" rel="stylesheet" />
<style>
    table.dataTable thead .sorting_desc {
        background-image: url('../../Content/images/Icon/Admin/sort_desc.png');
    }

    table.dataTable thead .sorting_asc {
        background-image: url('../../Content/images/Icon/Admin/sort_asc.png');
    }

    table.dataTable thead .sorting {
        background-image: url('../../Content/images/Icon/Admin/sort_both.png');
    }

    table#table td {
        word-break: break-all;
    }
    .report_result {
        position: fixed;
        z-index: 2002;
        top: 10%;
        left: 50%;
        height: auto;
    }

        .report_result .image_report {
            width: 30px;
            margin-top: 5px;
        }

        .report_result p {
            font-weight: 400;
            line-height: 1.5;
            color: #4cff00;
            text-align: left;
            background-color: #fff;
        }
</style>
<div class="form-group col-12">
    <div class="col-12 headerboxx">
        <h4>Jewelery</h4>
    </div>
    <div class="boxx col-12" >
        <div style="overflow-x:auto;padding:0px 10px 15px 10px">
            <div class="report_result ">
                <img src="" class="image_report" />
                <strong></strong>
            </div>
            <table class="table  table-striped hover " id="table" style="width:100%">
                <thead>
                    <tr>
                        <th class="align-middle">Style Code</th>
                        <th class="align-middle">Image</th>
                        <th class="align-middle">Total Weight</th>
                        <th class="align-middle">Quantity</th>
                        <th class="align-middle">Category</th>
                        <th class="align-middle">Designer</th>
                        <th class="align-middle">Certificate</th>
                        <th class="align-middle">Product Type</th>
                        <th class="align-middle">Jewelery Type</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle">@item.Style_Code</td>
                            <td>
                                <img src="~/Content/images/Product_Image/@item.Prod_Type/Img/@item.Img" style="width: 10vw" />
                            </td>
                            <td class="align-middle">@item.Tot_Gross_Wt</td>
                            <td class="align-middle">@item.Quantity</td>
                            <td class="align-middle">@item.Cat_Name</td>
                            <td class="align-middle">@item.Brand_Type</td>
                            <td class="align-middle">@item.Certify_Type</td>
                            <td class="align-middle">@item.Prod_Type</td>
                            <td class="align-middle">@item.Jewellery_Type</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="selectRow" tabindex="-1" role="dialog" aria-hidden="true" on>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h7 class="modal-title">
                    <img src="~/Content/images/Icon/Admin/amount_Copy_3-512.png" style="width:30px" />
                </h7>
                <button type="button" class=" btn btn-danger close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="contentt"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/Admin/forTable.js?15"></script>
<script src="~/Content/js/Admin/jquery.dataTables.min.js"></script>
<script src="~/Content/js/Admin/dataTables.select.min.js"></script>
<script src="~/Content/js/Admin/dataTables.rowGroup.min.js"></script>
<script src="~/Content/js/Admin/dataTables.buttons.min.js"></script>
<script>
    var style_code;
    var admin = '@Session["admin"]';
    var modalClone = $("#selectRow").clone();
    var reportClone = $(".report_result").clone();

    function reportt(classdiv, classImg, srcImg, status, text) {
        $("." + classdiv).addClass("alert-" + status + " alert form-inline");
        $("." + classImg).attr("src", srcImg);
        $("." + classdiv + " strong").append("&nbsp; &nbsp;  " + text);

    }

    $(document).ready(function () {
        var table = $('#table').DataTable({
            "responsive": false,
            "stateSave": true,
            "select": {
                "info": false
            },
            orderFixed: [7, 'des'],
            "columnDefs": [
                { "visible": false, "targets": 7 },
                { "sortable": false, "targets": 1 }
            ],
            rowGroup: {
                startRender: null,
                endRender: function (rows, group) {
                    return group + ' (' + rows.count() + ')';
                },
                dataSrc: 7
            },
           
        });
        new $.fn.dataTable.Buttons(table, {
            buttons: [
                {
                    className: 'btn',
                    attr: {
                        title: 'Create Item',
                        //id: 'copyButton',   
                    },
                    text: '<img src="../Content/images/Icon/Admin/Product_Create.png" style="width:50px" />',
                    action: function () {
                        window.location.href = "/Admin/Create_Product_Details";
                    }
                },
                {
                    className: 'btn',
                    attr: {
                        title: 'Details Item',
                        //id: 'copyButton',   
                    },
                    text: '<img src="../Content/images/Icon/Admin/Prodcut_Details.png" style="width:50px" />',
                    action: function () {
                        if (style_code != null) {
                            window.location.href = "/Admin/Product_Details?style_code=" + style_code.replace(/\s/g, '');
                        } else {
                            $("#selectRow").replaceWith(modalClone.clone());
                            $("#contentt").text("Please select account.");
                            $('#selectRow').modal('show');
                        }
                        style_code = null;
                    },

                },
                {
                    className: 'btn',
                    attr: {
                        title: 'Delete Item',
                        id: 'DeleteItem',   
                    },
                    text: '<img src="../Content/images/Icon/Admin/Product_Delete.png" style="width:50px" />',
                    action: function () {
                        if (admin != "SuperAdmin") {
                            return;
                        }

                        $("#selectRow").replaceWith(modalClone.clone());

                        if (style_code != null) {
                            $("#selectRow .modal-title").empty();
                            $("#selectRow .modal-title").text("Delete Product");
                            $("#selectRow .modal-body").append("Delete Style Code: " + style_code + "." + "<br/> Are you sure?");
                            $("#selectRow .modal-footer").prepend('<button class="accept btn btn-success" id="delete_product">Yes</button>');
                            $("#selectRow .modal-footer").children("button").eq(1).text("No");
                            $('#selectRow').modal('show');

                            $("#delete_product").click(function () {
                                $.ajax({
                                    url: '/Admin/Delete_ProductInfor',
                                    data: { stylecode: style_code },
                                    type: "get",
                                    success: function (data) {
                                        $('#selectRow').modal('hide');
                                        $(".report_result").replaceWith(reportClone.clone());
                                        if (data == "success") {
                                            $.when(reportt("report_result", "image_report", "/Content/images/Icon/Admin/icon_Success.png", "success", "Delete Product Success")).done(function () {
                                                $(".report_result").show();
                                                setTimeout(function () {
                                                    location.reload();
                                                }, 2000);

                                            });
                                        } else if (data == "false") {
                                            $.when(reportt("report_result", "image_report", "/Content/images/Icon/Admin/icon_false.png", "danger", "Delete Product False")).done(function () {
                                                $(".report_result").show();
                                                setTimeout(function () {
                                                    location.reload();
                                                }, 2000);
                                            });

                                        }  else if (data == "filefalse") {
                                            $.when(reportt("report_result", "image_report", "/Content/images/Icon/Admin/icon_false.png", "danger", "Delete False. Occur Error during delete image")).done(function () {
                                                $(".report_result").show();
                                                setTimeout(function () {
                                                    location.reload();
                                                }, 2000);
                                            });
                                        } else {
                                            $.when(reportt("report_result", "image_report", "/Content/images/Icon/Admin/icon_false.png", "danger", "Delete False. System Error !!!")).done(function () {
                                                $(".report_result").show();
                                                setTimeout(function () {
                                                    location.reload();
                                                }, 2000);
                                            });
                                        }
                                    },
                                    error: function (xhr, error, status) {
                                        alert("Error: " + status);
                                    }
                                });
                            });
                        }
                        else {
                            $("#selectRow").replaceWith(modalClone.clone());
                            $("#selectRow .modal-body").text("Please select option.");
                            $('#selectRow').modal('show');
                        }
                    },

                }
            ]
        });


        table.buttons(0, null).container().prependTo(
            table.table().container()
        );
        remove_ClassButton();
        table_inital("table");

        $('#table tbody').on('click', 'tr', function () {
            style_code = $(this).children("td").eq(0).text();
        });

        if (admin != "SuperAdmin") {
            $("#DeleteItem").hide();
        }

     
    });
</script>
